@import "tailwindcss";
@import "./sidebar.css";
@import "./global.css";
/* variables base */
:root {
  --bg-main: #121212;
  --bg-sec: #242424;
  --bg-card: #020617;
  --accent: #38bdf8;
}

/* fuentes */
body {
  font-family: 'Poppins', system-ui, sans-serif;
}