@import "tailwindcss";
/* variables base */
:root {
  --bg-main: #121212;
  --bg-sec: #242424;
  --bg-card: #020617;
  --accent: #38bdf8;
}

/* fuentes */
body {
  font-family: 'Poppins', system-ui, sans-serif;
}
body::-webkit-scrollbar {
  width: 0px;
}

@layer utilities {
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Tailwind bg-gray-100 */
    border-radius: 100vh;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #9ca3af; /* Tailwind bg-gray-400 */
    border-radius: 100vh;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Tailwind bg-gray-500 */
  }

  /* For Firefox */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #9ca3af #f1f1f1;
  }
}